<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     {% load static %}		<!-- added this line for use static files -->
     <link rel="stylesheet" href="{% static 'css/style.css' %}">    
</head>
<body>
    <div class="hello">The current time and date : </div>
     <div class="container">
        {{time}}
     </div>



    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>